.button {
    cursor: pointer;
    outline: none;
}

.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
}

.green {
    background: #21a51f;
    border-color: #3aa538;
    color: white;
}

.green:hover {
    color: white;
    background: #31cf12;
    border-color: white;
    transition: all 0.2s linear;
}